<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
    <div class="container" align="center">
        <h1 dir="rtl">ברוכים הבאים , {{ user.first_name }}</h1>
        <h3 dir="rtl">לצורך הצבעה, בחר את המפלגה הרצויה ולחץ 'סיום'</h3>
        <form method="post">
            {% for party in parties %}
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3" style="padding: 5px">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input class="form-check-input" type="radio" name="party_name" id="{{ party.name }}"
                                   value="{{ party.name }}">
                            <div class="thumbnail">
                                <center>{{ party.name }}</center>
                                <div align="center"><img src="{{ party.picture }}" align="middle" width="200"
                                                         height="auto"></div>
                            </div>
                        </label>
                    </div>
                </div>
            {% endfor %}
            <div class="submitbote">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="button_vote" >סיום</button>
            </div>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">?האם אתה בטוח בבחירה שלך</h4>
                        </div>
                        <div class="modal-body">
                            <center>
                            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="button_vote_no">לא</button>
                            <button type="submit" class="btn btn-success btn-lg" id="button_vote_yes">כן</button>
                            </center>
                        </div>
                    </div>
                 </div>
            </div>
        </form>
    </div>
{% endblock %}